table, th{
    border:1px solid #eaedef;
    border-collapse: collapse;
}
td{
    /* today에 테두리 다르게 설정하고 싶은데 td전체에 테두리 있으면 top,left부분이
    내 위, 왼쪽 td에 가려져서 아예 td테두리를 모두 top, left만 만듬. 가려지지 않게 */
    border-top: 1px solid #eaedef;
    border-left: 1px solid #eaedef;
}

table{
    width: 590px;
    table-layout: fixed; /*성능을 위해 필수적*/
    font-size: 12px;
}

th{
    height: 25px;
    color: #777;
}
.inner{
    position: relative; /*음력 표시 위해서*/
    height: 70px; /*td내부 div에 줬음, padding 5니까 80->70으로 바꿈*/
    padding: 5px;
}

.date{
    font-weight: bold;
    /* display: block; */
}
.text{
    display: block; /*줄바꿈 위해서*/
    margin-top: 3px;
    font-style: normal;
    /*말줄임*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.date.dimmed{
    color: #e7e7e7;
}
.text.holiday{
    color: #f44e4e;
}
.text.anniversary{
    color: #00c;
}
.lunar{
    position:absolute;
    top: 6px;
    right: 6px; /*부모 rel기준이 padding부터, border안쪽부터니까 0,0하면 더 위에 붙어서*/
    font-size: 11px;
    color: #bababa;
}
.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.today{
    /* border: 1px solid #e0e0bf; */
    border: 1px solid red;
    background: #ffffd9;
}