html,body,ol{
    margin: 0;
    padding: 0;
}
ol{
    list-style: none;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.main_wrap{
    background-color: silver;
}
.main_list{
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
}

.main_list li{
    float: left;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: pink;
}
.main_list:after{
    display: block;
    content: "";
    clear: both;
}
.main_list li+li{
    margin-left: 15px;
}
.sub_list{
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
}
.sub_list li{
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 15px;
    margin-bottom: 15px;
    line-height: 48px;
    background-color: olive;
}
.sub_list:after{
    display: block;
    content: "";
    clear: both;
}
.sub_list li:nth-child(5n){
    /* 끝에 요소 margin right값은 0으로 해야 안튀어나감 */
    margin-right: 0; 
}
/* 텍스트 말줄임  */
p {
    width: 200px;
    background-color: yellow;
    font-size: 16px;
    line-height: 20px;
  }
  .elip1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .elip2 {
    max-height: 40px; /* webkit 외 브라우저 대응, line-height*line수 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .elip3 {
    max-height: 60px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  /* 이미지 액자 효과 */
  .img_wrap{
      position: relative;
      width: 200px;
      height: 134px;
  }
  .img_wrap::after{
      position: absolute; /*after하려면 display나 posiotion지정이 되어야 한다.*/
      /*이미지랑 완전히 겹치게*/
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      border:1px solid rgba(0,0,0,0.3);
      background-color: rgba(0,0,0,0.15);
  }
  /* 아이콘 상태 변경 */
.change {
    float: left;
    padding: 10px;
    text-align: center;
}
.change:after { /*왜 가로 정렬이 안되지?*/
    display: block;
    width: 100px;
    height: 100px;
    content: '';
    border: 1px solid gray;
    background-color: pink;

}
.up:after {
    background: url(https://image.flaticon.com/icons/png/512/187/187142.png) no-repeat;
    background-size: cover;
}
.down:after {
    background: url(https://image.flaticon.com/icons/png/512/187/187154.png) no-repeat;
    background-size: cover;
}
/* IR(*Image Replacement) 처리 */
.blind {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
/* 마우스 오버시 버튼 노출 */
.box{
    position: relative;
    width: 100px;
    height: 100px;
}
.box +.box{
    margin-top: 30px;
}
.img_link{
    position: relative;
    display:inline-block;
    width: 100px;
    height: 100px;
}
.alert{
    position: absolute;
    right: 4px;
    bottom: 4px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 18px;  
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.del_link{
    position: absolute;
    display: none;
    top:0;
    right: 0;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.test1 .img_link:hover + .del_link{ /*링크 위에 해서 오류남. 링크 2개가 겹쳐버리니까*/
    display: block;
}
.test2:hover > .del_link{/*그냥 블록위헤 하는게 마음 편한듯*/
    display: block;
}