@charset "UTF-8";

/* 기본스타일 */
body{
    font-family: '나눔고딕', NanumGothic, Dotum, '돋움', sans-serif;
    font-size: 14px;
    line-height: 16px;
}   
body,ul,ol,li,div,a{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
/* 1단메뉴 */
.wrap{
    min-width: 500px;
    max-width: 700px;
    margin: 5px;
}
.menu{
    display: table;
    width: 100%;
    /*각 너비를 균등하게 하기위해*/
    table-layout: fixed;
}
.menu_item{
    display: table-cell;
}
.menu_link{
    /*a를 li에 꽉차게 하기 위해서 */
    display: block;
    height: 36px;
    border: 3px solid #ddd;
    font-size: 12px;
    line-height: 36px;
    color: #333;
    text-align: center;
}
.menu_item + .menu_item .menu_link{
    margin-left: -1px;
    /*이러면 뒤에 있는 구조가 위로 올라오게 된다. 
    그래서 밑에서 rel을 한거임*/
}
.menu_item:hover .menu_link{
    color: green;
    font-weight: bold;
}
.menu_item.active .menu_link{
    position: relative; 
    /*앞으로 나오게 하려고..*/
    border-color: #555;
    font-weight: bold;
    color: #fff;
    background: gray;
}