body{
    margin: 0 auto;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
header{
    background-color: #000;
    height: 120px;
}
h1{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding: 40px;
    height: 40px;
    width: 1000px;
    margin: 0 auto;
}
main{
    background-color: whi;
    margin: 0 auto;
    width: 1080px;
}
nav{
    padding: 40px;
}
nav div{
    border: 1px solid #d1d1d1;
    float:left;
    font-size: 16px;
    color: #000;
    line-height: 33px;
    width:322px;
    margin-right: 14px;
    text-align: center;
    background-color: white;
}

nav div:nth-child(3){
    margin-right: 0;
}
nav div:hover{
    border:1px solid #454545;
    font-weight: bold;
}
nav a{
    text-decoration: none;
}
nav a:link{
    color:#000;
}
nav a:visited{
    color: #000;
}
article hr{
    border-bottom: 0;
    border-top: 1px solid #454545;
    width: 1000px;
    
}
.lt{
    font-size: 20px;
    font-weight: bold;
    color:#000;
    padding: 20px 40px;
}
.ti{
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding: 15px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    width: 970px;
    margin-left: 40px;
    margin-top: 30px;
}
.con{
    color: #000;
    padding: 30px;
    margin-left: 40px;
    width: 940px;
    background-color: white;
    border: 1px solid #d1d1d1;
}
section:nth-child(4){
    padding-bottom: 40px;
}

/* 테이블 영역 */
.ti2:not(:first-child){
    margin-top: 40px;
}
.ti2{
    font-size: 14;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}
table{
    width: 100%;
    background-color: #fbfbfb;
    font-size: 12px;
    color: #555;
    border-collapse: collapse;
    text-align: center;
}
th, td{
    padding: 10px;
}
.tb1{

    border: 1px solid #e4e4e4;
}
.t1 td{
    border-width: 1px;
    border-style: solid;
    border-color: #e4e4e4;
}
.tb2 tbody td, .tb2 tfoot td{ /*여기 정렬 어떻게 하는지 모르겠다.*/
    text-align: right;
}
.tb2 thead{
    border-top:2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}
.tb2 tfoot{
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}
/* 폼 영역 */
form{
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
    padding: 20px;
}
label, .cate{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-bottom: 7px;
}
.ex{
    font-weight: normal;
}
input {
    font-size: 12px;
    color: #000;
    margin-bottom: 20px;
    
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 99%;
    height: 25px;
}
input[type="text"].widex{
    width: 80%;
    margin-bottom: 5px;
}
button{
    border: 1px solid #08a600;
    background-color: #4ec53d;
    font-size: 12px;
    color: #fff;
    width: 18%;
    height: 30px;
}
button:hover{
    cursor: pointer;
}
button[type="submit"]{
    border: 1px solid #08a600;
    background-color: #4ec53d;
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 40px;
    margin-top: 18px;
}
select{
    width: 32%;
    height: 30px;
    margin-bottom: 20px;
    margin-right: 1%;
}
select[name="day"]{
    margin-right: 0;
}
.ex{
    margin-right: 70px;
}
/* 리스트 영역 */
/*용어 설명*/
.box{
    border: 1px solid #e4e4e4;
    padding: 20px;
}
.box2{
    width: 20%;
}
.project{
    font-size: 32px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
.bold14{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-right: 5px;

}
.blue12{
    font-size: 12px;
    color: #559bfa;
}
p{
    font-size: 12px;
    color: #000;
    margin: 5px 0 15px;
}
/* 실시간 검색어 */
ol{
    list-style: none;
    counter-reset: licount;
    padding: 0;
    margin: 0;
}
ol li{
    counter-increment: licount;
    font-size: 12px;
    color: #000;
}
ol li::before{
    content:counter(licount);
    font-size: 10px;
    color: #666;
    width: 17px;
    height: 17px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    text-align: center;
    margin: 5px 10px 5px 0;
    line-height: 17px;
    /* 글자 감싸는 박스와 같은 높이로 line-height지정해주면 글자가 수직 중앙 정렬된다. */
}
/* 쿠키이용안내 */
ul{
    padding: 0 20px;
    margin: 0;
}
ul li{
    font-size: 12px ;
    color: #000;
    padding: 5px 0;
}
ul li:nth-child(5){
    padding: 5px 0 0 0;
}
ul li:nth-child(1){
    font-weight: bold;
}
ul span{
    color: #ec5336;
}
/* 뉴스 */
.news img{
   float: left; 
   margin-right: 10px;
}

.news:nth-child(1){
    padding-bottom:20px ;
}
.news:nth-child(2){
    padding:20px 0;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
}
.news:nth-child(3){
    padding-top: 20px;
}

.nti{
    font-size: 14px;
    color: #00c;
    font-weight: bold;
    text-decoration: underline;
}
.news p{
    margin-bottom: 0;
}
/* 웹툰 */
.left{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.left:nth-child(3), .left:nth-child(7){ /*도대체 왜 6이아니고 7인 거노*/
    margin-right: 0;
}
.left div:not(.bold14){
    margin-top: 3px;
    font-size: 12px;
    color: #000;
}
.cut, .smart{
    font-size: 10px;
    color: #fff;
}
.cut{
    background-color: #80c83d;
    border: 1px solid #71b036;
}
.smart{
    background-color: #ec5336;
    border: 1px solid #df4e28;
}
.left a{
    text-decoration: none;
}
ol li:hover, .left div:hover, .left .bold14:hover{
    text-decoration: underline;
}
/*footer*/
footer{
    text-align: center;
    background-color: white;
}
footer hr{
    border-top: 1px solid #d1d1d1;
    border-bottom: 0;
    margin: 0;
}
.add{
    padding: 40px 0 0 0;
    font-size: 12px;
    color: #999;
}
.right{
    padding: 0 0 40px 0;
    font-size: 12px;
    color: #000;
}